body {
  background: rgb(12, 12, 44)!important;
}
.add-input {
  width: 28em;
  padding: 1em;
  border-radius: 5px;
  border: none;
}
.add-btn {
  padding: 1em;
  border-radius: 5px;
  border: none;
  background-color: rgb(4, 121, 218);
}
.todo-header {
  margin: 1em;
  color: white;
}
.added-input {
  width: 24em;
  padding: .5em;
  border: none;
  border-radius: 5px;
}
.edit-input {
  width: 24em;
  padding: .5em;
  border: none;
  border-radius: 5px;
}
.delete-button {
  padding: .5em;
  border-radius: 5px;
  border: none;
  background-color: red;
}
.update-button {
  padding: .5em;
  border-radius: 5px;
  border: none;
  background-color: rgb(3, 65, 3);
}
.cancel-button {
  padding: .5em;
  border-radius: 5px;
  border: none;
  background-color: rgb(204, 0, 255);
}
.save-button {
  padding: .5em;
  border-radius: 5px;
  border: none;
  background-color: rgb(252, 194, 5);
}